.dashboard-tags {
  &__form-drop {
    margin-top: 20px;
    padding-left: 21px;
    width: 100%;
    height: 50px;

    border-radius: 5px;
    border: 1px solid var(--colors-grey-300, #e0e0e0);

    background: url('./img/drop.svg') no-repeat;
    background-size: 24px 24px;
    background-position: center right 13px;

    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.079px;

    &::placeholder {
      color: var(--colors-grey-500, var(--grayColor));
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: 0.079px;
    }

    &:focus {
      outline: none;
    }
  }

  &__form-btn {
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
    gap: 22px;
  }
}
