.sidebar {
  width: 100%;
  border-right: 1px solid #f2f2f2;
  background-color: var(--sidebar-bg);
  &__logo {
    padding: 17px 24px;
    width: 100%;
  }

  &__list {
    padding-top: 18px;

    height: calc(100% - 70px);

    // border-right: 1px solid #ededef;
  }

  &__items {
    padding-left: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 20px;

    color: var(--grayColor);

    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;

    svg {
      font-size: 20px;

      transition: all 0.2s;
    }

    &_active {
      background: #f2f2f5;
      color: var(--sidebarItemsColor);

      svg {
        color: rgba(21, 101, 192, 1);
      }
    }

    &_active-drop {
      background: #f2f2f5;
      color: var(--sidebarItemsColor);
    }

    &_active-drop ~ .sidebar__dropdown {
      display: flex;
    }
  }

  &__arrow {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    transition: all 0.2s;

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__pointer {
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    flex-direction: column;
    gap: 6px;

    overflow: hidden;

    transition: height 0.2s;
  }

  &__dropdown-item {
    padding-left: 64px;
    color: var(--272557, var(--blueColor));
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px; /* 166% */
    letter-spacing: 0.3px;
    opacity: 0.5;

    &:first-child {
      margin-top: 6px;
    }

    &_active {
      background: #f2f2f5;
      color: var(--sidebarItemsColor);
    }
  }
}
