.input {
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:checked + .circle {
    background: #1565c0;
    border-color: #3077c7;
		left: auto;
		right: -3px;
  }
  &:checked ~ .back {
    background: #8ab2df;
  }
}
.circle {
  width: 20px;
  height: 20px;
  display: block;
  background: #bfbecd;
  border-radius: 50%;
  border: 1px solid #c5c4d2;

  position: absolute;
  top: 50%;
  left: -3px;
  transform: translate(0, -50%);
  z-index: 1;

  transition: translate 0.2s;
}
.back {
  width: 34px;
  height: 14px;
  display: block;
  border-radius: 7px;
  background: #e9e9ee;
}
