.select{border-radius:5px;border:1px solid #e0e0e0}.select__body,.select__body-secondary{display:flex;align-items:center;justify-content:space-between;padding:11px 12px;position:relative;padding-left:30px;cursor:pointer}.select__left{display:flex;flex-direction:row-reverse;align-items:center;gap:5px;pointer-events:none}.select__count{color:#fff;text-align:center;font-size:12px;font-weight:600;line-height:21px;letter-spacing:.079px;background-color:#1565c0;border-radius:50%;padding:0 6px;position:absolute;left:-25px}.select__title{color:var(--grayColor);font-size:14px;line-height:21px;letter-spacing:.079px}.select-window{fill:var(--dashBoardBg);stroke-width:1px;stroke:#e0e0e0;filter:drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));position:absolute;top:60px;width:100%;z-index:1000}.select-window__body{width:100%;background-color:var(--sidebar-bg)}
.nFnjz1N4k6oi0VZsxZ3g{opacity:0;position:absolute;z-index:-1}.nFnjz1N4k6oi0VZsxZ3g:checked+.PGN0x5Rfro7t31TmZ0Ql{border:none;background:#1565c0}.PGN0x5Rfro7t31TmZ0Ql{width:18px;height:18px;display:block;border:2px solid #bebecd;border-radius:2px}.XNufYQq24e0WqOKQuN28{width:13px;height:7px;border-top:2px solid var(--dashBoardBg);border-right:2px solid var(--dashBoardBg);position:absolute;top:50%;left:50%;transform:translate(-47%, -67%) rotate(133deg);z-index:2}
.tUgeCFeqegtaaXI1hDJy{width:16px;height:16px;display:block;border-radius:50%;border:3px solid #fff;outline:2px solid rgba(39,37,87,.3);cursor:pointer;transition:all .2s}.SqLW5HXj7xBEomWiKSXZ{display:flex;align-items:center;gap:15px}.SORgB8ZGOpeA7A9RsHC7{opacity:0;position:absolute;z-index:-1}.SORgB8ZGOpeA7A9RsHC7:checked+.tUgeCFeqegtaaXI1hDJy{background:#1565c0;outline-color:#1565c0}
.okzW0Oy8lwqbkV4nAPPf{width:var(--width);height:37px;display:flex;align-items:center;justify-content:center;border:none;border-radius:5px;font-size:14px;font-weight:600;line-height:21px;letter-spacing:.07px;color:#fff;cursor:pointer;transition:all .3s}.okzW0Oy8lwqbkV4nAPPf:hover{transform:translateY(-3px);box-shadow:0 5px 20px 10px rgba(20,81,255,.44)}.ZQwd8AuUN4gKz3w89CiF{background:#1565c0}.tvGQ5EmlrTPlG0h9hYXr{color:var(--cancelButtonColor);background:#e0e0e0}.ypA9nAPaORN8xJDFUlPz{background:#f44336}
.select-title{color:var(--blueColor);font-size:14px;font-weight:600;line-height:20.4px;letter-spacing:.06px;pointer-events:none}
.filter{background-color:--textColor;padding:32px}.filter__body{display:flex;flex-direction:column;gap:13px}.filter-form{display:flex;flex-direction:column;gap:28px}.filter-form__wrapper{display:flex;flex-direction:column;gap:9px}.filter-form__wrapper label{cursor:pointer;display:flex;align-items:center;gap:15px;max-width:200px;color:var(--brownColor);font-feature-settings:lining-nums proportional-nums;font-variant-numeric:lining-nums proportional-nums;font-size:12px;font-weight:400;line-height:17px;letter-spacing:.6px}.filter-form__buttons{display:flex;align-items:center;gap:17px}.filter-form__top{display:flex;flex-direction:column;gap:9px}.owners,.authors{display:flex;flex-direction:column;gap:20px;padding:15px}
.yfRcCdWWwFN62hSQmN8H{width:var(--width);height:37px;display:flex;align-items:center;justify-content:center;border-radius:5px;font-size:14px;font-weight:600;line-height:21px;letter-spacing:.07px;color:#fff;cursor:pointer;transition:all .3s}.yfRcCdWWwFN62hSQmN8H:hover{transform:translateY(-3px);box-shadow:0 5px 20px 10px rgba(20,81,255,.44)}.diZdYFWja07hhOS3UDqR{background:#1565c0}.g0cjpYl7GRr46M7MwfJg{color:var(--cancelButtonColor);background:#e0e0e0}.n6Th7WkJXr9Cg7mMGpe7{background:#f44336}
.small-select{cursor:pointer}.small-select__body{display:flex;align-items:baseline;gap:15px}.small-select__text{color:var(--grayColor);font-feature-settings:lining-nums proportional-nums;font-variant-numeric:lining-nums proportional-nums;font-size:12px;font-weight:400;line-height:17px;letter-spacing:.6px}.mini-select{position:relative}.mini-select__item-button{background:transparent none repeat 0 0 / auto auto padding-box border-box scroll;background:initial;border:none;cursor:pointer;width:100%;text-align:left;color:var(--textColor)}.mini-select__window{margin-top:7px;position:absolute;top:30px;z-index:100;background-color:--textColor}.mini-select__left{display:flex;align-items:center}.mini-select__body{display:flex;align-items:center;justify-content:space-between;border-radius:5px;border:1px solid #e0e0e0;padding:5px 7px 5px 10px}.mini-select__left{color:var(--blueColor);font-size:14px;font-weight:600;line-height:21px;letter-spacing:.07px}.mini-select__list{list-style-type:none;display:flex;flex-direction:column;border-radius:5px;border:1px solid #e0e0e0;background-color:var(--sidebar-bg)}.mini-select__list li{padding:5px 12px;min-height:25px;color:#000;font-size:12px;font-weight:600;line-height:21px;letter-spacing:.07px;cursor:pointer;transition:all .2s;display:flex;align-items:center}.mini-select__list li:not(:last-child){border-bottom:1px solid #dfdfdf}.mini-select__list li:hover{background-color:var(--hoverPopup)}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar{border:none;background-color:var(--dashBoardBg)}.react-calendar span{font-size:16px}.react-calendar__navigation__arrow{font-size:24px}.react-calendar__month-view__weekdays__weekday,.react-calendar__navigation__label__labelText,.react-calendar__navigation__arrow,.react-calendar__tile{color:var(--textColor)}.react-calendar__tile:enabled:hover,.react-calendar__tile:enabled:focus{color:#000 !important}
.dashboard-tags__form-drop{margin-top:20px;padding-left:21px;width:100%;height:50px;border-radius:5px;border:1px solid #e0e0e0;border:1px solid var(--colors-grey-300, #e0e0e0);background:url(assets/drop.svg) no-repeat;background-size:24px 24px;background-position:center right 13px;color:var(--textColor);font-size:18px;font-weight:400;line-height:21px;letter-spacing:.079px}.dashboard-tags__form-drop::-moz-placeholder{color:var(--colors-grey-500, var(--grayColor));font-size:14px;font-weight:400;line-height:21px;letter-spacing:.079px}.dashboard-tags__form-drop::placeholder{color:var(--colors-grey-500, var(--grayColor));font-size:14px;font-weight:400;line-height:21px;letter-spacing:.079px}.dashboard-tags__form-drop:focus{outline:none}.dashboard-tags__form-select{margin-top:20px}.dashboard-tags__form-btn{margin-top:39px;display:flex;justify-content:flex-end;gap:22px}
