.dashboard-settings {
  padding: 10px 40px 90px 36px;
  height: calc(100% - 64px);
  background: var(--lightGray);

  &__form {
    margin-top: 22px;
    padding-bottom: 43px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__form-header {
    padding: 26px 47px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #e0e0e0;
  }

  &__form-body {
    padding: 31px 49px 0 45px;

    display: flex;
    justify-content: space-between;
  }
}
