.posts-voters {
  &__title {
    display: flex;
    align-items: center;
    gap: 19px;
    span {
      color: var(--blueColor);
      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px;
    }
  }
}

.post-voters-content {
  border-radius: 10px;
  background: var(--dashBoardBg);;
  margin-top: 10px;
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  &__wrapper {
    border-bottom: 1px solid #e0e0e0;
    padding-top: 22px;
  }
}
