.dashboard-main {
  padding: 10px 40px 0 36px;
  height: calc(100% - 64px);
  background: var(--lightGray);

  &__container {
    margin-top: 16px;
    display: flex;
    gap: 20px;
  }

  &__wrapper {
    width: stretch;
  }

  &__cards {
    display: flex;
    gap: 19px;
  }

  &__card {
    padding: 21px 23px 18px 21px;
    width: 238px;
    border-radius: 10px;
    background: var(--dashBoardBg);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__card-title {
    color: var(--colors-1-primary, var(--blueColor));
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;
  }

  &__card-number {
    margin-top: 8px;
    color: var(--colors-2-secondary, #1565c0);
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 36px;
    font-weight: 600;
    line-height: 38.4px; /* 106.667% */
    letter-spacing: -0.219px;
    text-transform: uppercase;
  }

  .activities {
    padding: 27px 0 18px;
    width: 100%;

    border-radius: 10px;
    background: var(--dashBoardBg);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);

    &__title {
      padding-left: 36px;
      color: var(--272557, var(--blueColor));

      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px; /* 120% */
    }

    &__list {
      margin-top: 10px;
    }

    &__item {
      padding: 24px 29px 10px 27px;
      &:nth-child(2n) {
        background: var(--secondaryWhite);
      }
    }

    &__header {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 45px;
      height: 45px;
    }

    &__info {
      margin-left: 27px;
    }

    &__name {
      color: var(--textColor);

      font-size: 14px;
      font-weight: 600;
      line-height: 20.4px; /* 145.714% */
      letter-spacing: 0.06px;
    }

    &__tag {
      color: var(--buttons-outlined-primary, #1565c0);

      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: 0.079px;
    }

    &__time {
      position: absolute;
      top: 0;
      right: 0;

      color: var(--colors-grey-500, var(--grayColor));
      text-align: right;

      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: 0.079px;
    }

    &__main {
      margin-top: 6px;
      padding-left: 72px;
    }

    &__main-title {
      color: var(--colors-1-primary, var(--blueColor));

      font-size: 14px;
      font-weight: 600;
      line-height: 21px; /* 150% */
      letter-spacing: 0.07px;
    }

    &__main-descr {
      margin-top: 9px;
      color: var(--colors-1-primary, var(--blueColor));
      font-variant-numeric: lining-nums proportional-nums;

      font-size: 12px;
      font-weight: 400;
      line-height: 17px; /* 141.667% */
      letter-spacing: 0.6px;
    }

    &__link {
      margin-top: 20px;
      color: var(--colors-2-secondary, #1565c0);
      font-size: 14px;
      font-weight: 600;
      line-height: 21px; /* 150% */
      letter-spacing: 0.07px;
      text-decoration-line: underline;
      text-align: center;

      cursor: pointer;
    }
  }

  .chart {
    margin-top: 20px;
    padding-bottom: 26px;

    border-radius: 10px;
    background: var(--dashBoardBg);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);

    &__header {
      padding: 27px 25px 0 36px;
      display: flex;
      align-items: center;
    }

    &__title {
      color: var(--272557, var(--blueColor));

      font-size: 24px;
      font-weight: 600;
      line-height: 28.8px; /* 120% */
    }

    &__radio {
      margin-left: 87px;
      display: flex;
      gap: 54px;
    }

    &__label {
      display: flex;
      align-items: center;
      gap: 11px;
      color: var(--color);

      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.06px;

      cursor: pointer;
    }

    &__input {
      display: none;

      &:checked + span {
        outline-color: var(--color);
        border-color: (--textColor);
        background: var(--color);
      }
    }

    &__custom {
      width: 15px;
      height: 15px;

      border-radius: 50%;

      outline: 1px solid #e0e0e0;
      border: 3px solid #f4f4f4;
      background: #f4f4f4;
    }

    &__days {
      width: stretch;

      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      color: var(--colors-grey-500, var(--grayColor));
      text-align: right;
      font-variant-numeric: lining-nums proportional-nums;

      font-size: 16px;
      font-weight: 400;
      line-height: 21px; /* 131.25% */
      letter-spacing: 0.09px;

      cursor: pointer;

      svg {
        margin-left: 11px;
      }
    }

    &__main {
      margin-top: 24px;
      color: var(--mainGraphicColor);
      text-align: right;
      font-variant-numeric: lining-nums proportional-nums;

      font-size: 12px;
      font-weight: 400;
      line-height: 17px; /* 141.667% */
      letter-spacing: 0.6px;
    }

    &__tooltip {
      padding: 4px;
      border-radius: 3px;
      background: #2c629e;

      color: (--textColor);
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;

      font-size: 12px;
      font-weight: 400;
      line-height: 17px; /* 141.667% */
      letter-spacing: 0.6px;
    }

    &__date {
    }

    &__number {
    }

    &__footer {
      padding-left: 34px;
      padding-right: 10px;
      display: flex;

      top: -6px;
    }

    &__month {
      width: 71px;
      color: var(--mainGraphicColor);
      text-align: center;

      font-size: 12px;
      font-weight: 400;
      line-height: 19.92px; /* 166% */
      letter-spacing: 0.3px;

      &:nth-child(2) {
        margin-left: 215px;
      }
      &:nth-child(3) {
        margin-left: 243px;
      }
      &:nth-child(4) {
        margin-left: 224px;
      }
    }
  }
}
