.dashboard-board {
  padding: 10px 40px 90px 36px;
  height: calc(100% - 64px);
  background: #f9f9fc;

  &__path {
    display: flex;
    gap: 7px;

    font-size: 12px;
    font-weight: 400;
    line-height: 19.92px;
    letter-spacing: 0.3px;

    a {
      &:not(&:last-child) {
        color: var(--colors-grey-500, #9e9e9e);
      }
      &:last-child {
        color: var(--colors-1-primary, #272557);
      }
    }
  }

  &__main {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: var(--272557, #272557);
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;
  }

  &__form {
    margin-top: 16px;
    padding: 33px 49px 30px 44px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);

    &_long {
      width: auto;
    }
  }
  &__wrapper {
    display: flex;
    gap: 72px;
  }
  &__container {
    width: 707px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  &__label {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

    color: var(--colors-grey-500, #9e9e9e);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;

    span {
      transition: all 0.2s;
    }
  }
  &__input,
  &__textarea {
    padding-left: 17px;
    height: 50px;

    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.079px;

    border-radius: 5px;
    border: 1px solid var(--colors-grey-300, #e0e0e0);

    transition: all 0.2s;

    &:focus {
      outline: 4px solid rgba(21, 101, 192, 0.1);
      border-color: var(--colors-2-secondary, #1565c0);
    }

    &:focus + span {
      color: #1565c0;
    }
  }

  &__textarea {
    padding: 17px;
    height: 131px;
    resize: none;
  }

  &__form-btn {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;
    gap: 23px;
  }

  &__popup {
    padding: 53px 0 8px;
    width: 250px;

    display: none;

    background: #fff;

    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;

    &_up {
      top: auto;
      bottom: 100%;
    }

    &_active {
      display: block;
    }
  }

  &__close {
    font-size: 30px;
    color: rgba(39, 37, 87, 1);
    position: absolute;
    top: 12px;
    right: 18px;
    cursor: pointer;
  }

  &__popup-list {
  }

  &__popup-item {
    padding-left: 17px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 27px;

    color: var(--272557, #272557);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;

    transition: all 0.2s;

    cursor: pointer;

    svg {
      color: rgba(224, 224, 224, 1);
      font-size: 20px;

      transition: all 0.2s;
    }

    &:hover {
      background: var(--lists-hover, rgba(0, 0, 0, 0.05));

      svg {
        color: rgba(39, 37, 87, 1);
      }
    }
  }
}
