.dashboard-settings {
  &__form_sso {
    max-width: 1285px;
    width: 100%;

    .dashboard-settings {
      &__tag {
        display: flex;
        color: var(--colors-1-primary, var(--logoColor));
        font-variant-numeric: lining-nums proportional-nums;

        font-size: 16px;
        font-weight: 400;
        line-height: 21px; /* 131.25% */
        letter-spacing: 0.09px;

        &:last-child {
          margin-left: auto;
          margin-right: 329px;

          @media (max-width: 1622px) {
            display: none;
          }
        }
      }

      &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 108px;

        @media (max-width: 1622px) {
          flex-direction: column;
        }
      }

      &__container {
        display: flex;
        flex-direction: column;
        gap: 37px;
      }

      &__info {
        &-title {
          height: 21px;
          color: var(--logoColor);

          display: flex;
          align-items: center;

          font-size: 14px;
          font-weight: 600;
          line-height: 20.4px; /* 145.714% */
          letter-spacing: 0.06px;

          span {
            margin-left: 5px;
            color: var(--colors-2-secondary, #1565c0);
            font-size: 17px;
            text-decoration: underline;
          }
        }

        &-text {
          width: 448px;
          color: var(--colors-grey-500, #9e9e9e);
          font-size: 12px;
          font-weight: 400;
          line-height: 13.42px; /* 111.833% */
          letter-spacing: 0.3px;
        }
      }

      &__copy {
        margin-top: 6px;
        padding-left: 21px;

        width: 579px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 5px;
        border: 1px solid var(--colors-grey-300, #e0e0e0);

        &-text {
          color: var(--textColor);
          font-size: 18px;
          font-weight: 400;
          line-height: 21px; /* 116.667% */
          letter-spacing: 0.079px;
        }

        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
          color: rgba(39, 37, 87, 1);
          cursor: pointer;
        }
      }

      &__btn-group {
        margin-top: 81px;
        padding-right: 45px;
        display: flex;
        justify-content: flex-end;
      }

      &__t {
        margin-bottom: 30px;
        display: none;
        color: var(--colors-1-primary, #272557);
        font-variant-numeric: lining-nums proportional-nums;

        font-size: 16px;
        font-weight: 400;
        line-height: 21px; /* 131.25% */
        letter-spacing: 0.09px;
        @media (max-width: 1622px) {
          display: block;
        }
      }
    }
  }

  &__steps {
    display: flex;
    gap: 15px;
  }

  &__step {
    width: 22px;
    height: 22px;

    border-radius: 50%;
    background: rgba(224, 224, 224, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--colors-grey-500, #9e9e9e);
    font-size: 12px;
    font-weight: 600;
    line-height: 20.4px; /* 170% */
    letter-spacing: 0.06px;
  }
}
