.dashboard {
  &__popup-wrapper {
    padding: 53px 0 8px;
    width: 250px;

    display: none;

    background: #fff;

    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;

    &_up {
      top: auto;
      bottom: 100%;
    }

    &_active {
      display: block;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(224, 224, 224, 1);
    cursor: pointer;

    font-size: 30px;
    color: rgba(39, 37, 87, 1);

    svg {
      pointer-events: none;
      path {
      }
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked ~ .dashboard__popup-wrapper {
        display: block;
      }
    }
  }

  &__popup {
    /* padding: 53px 0 8px;
    width: 250px;

    display: none;

    background: #fff;

    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;

    &_up {
      top: auto;
      bottom: 100%;
    }

    &_active {
      display: block;
    } */
  }

  &__close {
    font-size: 30px;
    color: rgba(39, 37, 87, 1);
    position: absolute;
    top: 12px;
    right: 18px;
    cursor: pointer;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  &__popup-list {
  }

  &__popup-item {
    padding-left: 17px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 27px;

    color: var(--272557, #272557);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;

    transition: all 0.2s;

    cursor: pointer;

    svg {
      color: rgba(224, 224, 224, 1);
      font-size: 20px;

      transition: all 0.2s;
    }

    &:hover {
      background: var(--lists-hover, rgba(0, 0, 0, 0.05));

      svg {
        color: rgba(39, 37, 87, 1);
      }
    }
  }
}
