.dashboard-settings {
  &__form_email {
    width: 955px;
  }

  &__tag {
    color: var(--colors-1-primary, var(--logoColor));
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;

    &:last-child {
      margin-left: auto;
      margin-right: 120px;
    }
  }

  &__form-wrapper {
    &_user {
      width: 478px;

      display: flex;
      flex-direction: column;
      gap: 13px;
    }
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;
    gap: 19px;
    label{
      display: flex;
      align-items: center;
    }
  }

  &__info {
  }

  &__info-title {
    color: var(--logoColor);

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;
  }

  &__info-text {
    margin-top: 3px;
    color: var(--colors-grey-500, #9e9e9e);
    font-size: 12px;
    font-weight: 400;
    line-height: 13.42px; /* 111.833% */
    letter-spacing: 0.3px;
  }

  &__info-select {
    margin-top: 14px;
    margin-left: auto;
  }

  &__btn-email {
    margin-top: 43px;
    padding-right: 49px;
    display: flex;
    justify-content: flex-end;
  }
}
