.btn {
  width: var(--width);
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px; /* 150% */
  letter-spacing: 0.07px;
  color: #ffff;
  cursor: pointer;
}

.btn_primary {
  background: #1565c0;
}
.btn_secondary {
  color: var(--sidebar-bg);
  background: #e0e0e0;
}
.btn_warning {
  background: #f44336;
}
