.dashboard-tags {
  &__table {
    margin-top: 23px;
    border-radius: 10px;
    background: var(--dashBoardBg);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__head {
    padding: 26px 0 24px 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
  }

  &__tag {
    flex: 0 1 332px;
    color: var(--colors-1-primary, var(--blueColor));
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;

    &:nth-child(2) {
      flex: 0 1 40px;
    }

    &:nth-child(3) {
      flex: 0 1 204px;
    }

    &:last-child {
      flex: 0 1 100px;
    }
  }

  &__body {
    padding-bottom: 22px;
  }

  &__item {
    padding-left: 60px;
    padding-right: 35px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:nth-child(odd) {
      background: var(--secondaryWhite);
    }

    &_item1 {
      flex: 0 1 330px;
    }

    &_item2 {
      flex: 0 1 40px;
      display: flex;
      justify-content: flex-end;
    }

    &_item3 {
      flex: 0 1 160px;
    }
  }

  &__drag {
    display: flex;
    font-size: 24px;
    color: rgba(224, 224, 224, 1);
    position: absolute;
    top: 50%;
    left: 22px;

    transform: translateY(-50%);

    cursor: grab;
  }

  &__name {
    padding: 4px 25px;
    width: 127px;
    border-radius: 30px;
    background: var(--color);

    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;
  }

  &__color {
    // margin-left: 499px;
    width: 29px;
    height: 29px;

    background: var(--color);

    border-radius: 50%;
  }

  &__privacy {
    // margin-left: 285px;

    color: var(--colors-grey-500, var(--grayColor));

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;

    &_private {
      color: var(--272557, var(--blueColor));
    }
  }

  &__activities {
    // margin-left: 405px;
    flex: 0 1 100px;
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__cached,
  &__create,
  &__cancel {
    display: flex;
    align-items: center;
    font-size: 20.2px;
    color: rgba(224, 224, 224, 1);
    cursor: pointer;

    transition: color 0.2s;
    svg {
      transition: all 0.3s;
      &:hover {
        fill: var(--hoverIcon);
      }
      path {
        pointer-events: none;
      }
    }

    transition: all 0.3s;
    &:hover {
      color: var(--hoverIcon);
    }
  }
}
