.dashboard-activity {
  padding: 10px 40px 90px 36px;
  height: calc(100% - 64px);
  background: var(--lightGray);

  &__body {
    margin-top: 10px;
    padding-top: 23px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__list {
    border-bottom: 1px solid #e0e0e0;
  }

  &__list-item {
    padding: 20px 34px 20px 42px;

    display: flex;
    align-items: center;

    &:nth-child(even) {
      background: #f8f8f8;
    }
  }

  &__avatar {
    width: 45px;
    height: 45px;
  }

  &__info {
    margin-left: 27px;
  }

  &__name {
    color: #000;

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;
  }

  &__status {
    color: var(--buttons-outlined-primary, #1565c0);

    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;
  }

  &__time {
    margin-left: 102px;
    width: 114px;
    color: var(--colors-grey-500, #9e9e9e);

    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.079px;

    &_second {
      margin-left: 92px;
    }
  }

  &__comment {
    margin-left: 63px;
  }

  &__title {
    color: var(--colors-1-primary, #272557);

    font-size: 14px;
    font-weight: 600;
    line-height: 21px; /* 150% */
    letter-spacing: 0.07px;
  }

  &__text {
    color: var(--colors-1-primary, #272557);
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 12px;
    font-weight: 400;
    line-height: 17px; /* 141.667% */
    letter-spacing: 0.6px;

    &_second {
      margin-top: 8px;
    }
  }
}
