@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  font-family: "Nunito";
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  height: var(--heightMax);
  overflow-x: hidden;
}

a {
  display: block;
}

.container {
  margin: 0 auto;
  width: min(100%, 1128px);
}

body {
  --sidebar-bg: #fff;
  --header-bg: #fff;
  --textColor: #000;
}


body {
  --sidebar-bg: #fff;
  --header-bg: #fff;
  --textColor: #000;
}