@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  font-family: "Nunito";
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  height: var(--heightMax);
  overflow-x: hidden;
}

a {
  display: block;
}

.container {
  margin: 0 auto;
  width: min(100%, 1128px);
}

body {
  --sidebar-bg: #fff;
  --header-bg: #fff;
  --textColor: #000;
  --sidebar-item: #9e9e9e;
  --blueColor: #272557;
  --lightGray: #f9f9fc;
  --dashBoardBg: #fff;
  --secondaryWhite: #f8f8f8;
  --grayColor: #9e9e9e;
  --inputColor: #fff;
  --mainGraphicColor: rgba(0, 0, 0, 0.54);
  --dotsColor: rgb(39, 37, 87);
  --brownColor: #333;
  --sidebarItemsColor: var(--272557, var(--blueColor));
  --commentsColor: "rgb(240 242 242)";
  --buttonCommentColor: #1565c0;
  --cancelButtonColor: #9e9e9e;
  --logoColor: #272557;
  --languageBlockColor: #ededed;
  --primaryBlue: #1565c0;
  --borderBg: #202020;
  --hoverIcon: #000;
  --hoverPopup: rgba(0, 0, 0, 0.05);
}

body.dark {
  background: black;
  --sidebar-bg: black;
  --header-bg: black;
  --textColor: #fff;
  --sidebar-item: #fff;
  --blueColor: #fff;
  --lightGray: black;
  --dashBoardBg: #161623;
  --secondaryWhite: #0000007a;
  --grayColor: lightgrey;
  --mainGraphicColor: #fff;
  --dotsColor: #fff;
  --brownColor: #fff;
  --sidebarItemsColor: black;
  --commentsColor: rgb(22 22 22);
  --buttonCommentColor: #fff;
  --cancelButtonColor: black;
  --logoColor: #fff;
  --languageBlockColor: black;
  --borderBg: #fff;
  --primaryBlue: #ffff;
  --hoverIcon: #1565c0;
  --hoverPopup: #1565c0;
}
