.select {
  border-radius: 5px;
  border: 1px solid var(--colors-grey-300, #e0e0e0);

  &__body,
  &__body-secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 12px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }

  &__left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    pointer-events: none;
  }
  &__count {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.079px;
    background-color: #1565c0;
    border-radius: 50%;
    padding: 0 6px;
    position: absolute;
    left: -25px;
  }
  &__title {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
}

.select-window {
  fill: #fff;
  stroke-width: 1px;
  stroke: #e0e0e0;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1000;
  &__body {
    width: 100%;
  }
}
