.react-calendar {
  border: none;
  background-color: var(--dashBoardBg);
  span {
    font-size: 16px;
  }
}

.react-calendar__navigation__arrow {
  font-size: 24px;
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__navigation__label__labelText,
.react-calendar__navigation__arrow,
.react-calendar__tile {
  color: var(--textColor);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: black !important;
}
