.comments {
  min-height: 140px;
  background: var(--secondaryWhite);
  margin-bottom: 47px;
  &__item {
    background: var(--secondaryWhite);
    &.white {
      background: var(--dashBoardBg);;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 30px;
  }
  &__center {
    flex: 1 1 auto;
    padding-left: 30px;
  }
  &__left {
    width: 136px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    height: 100%;
    img {
      width: 45px;
      height: 45px;
    }
    span {
      color: var(--textColor);
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20.4px;
      letter-spacing: 0.06px;
    }
  }
  &__center-top {
    display: flex;
    align-items: center;
    gap: 81px;
  }
  &__center-title {
    color: var(--textColor);
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
    max-width: 450px;
  }
  &__center-time {
    color: var(--grayColor);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
  &__center-center {
    margin-bottom: 11px;
    p {
      color: var(--textColor);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.079px;
      max-width: 1107px;
    }
  }
  &__tags {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }
  &__tag {
    display: inline-flex;
    padding: 0px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #eb5757;

    color: (--textColor);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
  &__center-bottom {
    display: flex;
    align-items: center;
  }
  &__right {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__right-left {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  &__right-item {
    display: flex;
    align-items: center;
    gap: 3px;
    span {
      color: var(--textColor);
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20.4px;
      letter-spacing: 0.06px;
    }
  }
  &__right-right {
    button {
      cursor: pointer;
      border: none;
      background: unset;
    }
  }
}
