.dashboard-segment {
  &__table {
    margin-top: 22px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__head {
    padding: 26px 35px 24px 69px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #e0e0e0;
  }

  &__tag {
    flex: 0 1 120px;
    color: var(--colors-1-primary, #272557);
    font-variant-numeric: lining-nums proportional-nums;

    font-size: 16px;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    letter-spacing: 0.09px;

    &:nth-child(2) {
      flex: 0 1 655px;
    }
    &:last-child {
			width: 70px;
    }
  }

  &__body {
    padding-bottom: 30px;
  }

  &__item {
    padding: 0 35px 0 69px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:nth-child(odd) {
      background: #f8f8f8;
    }
  }

  &__drag {
    display: flex;
    font-size: 24px;
    color: rgba(224, 224, 224, 1);
    position: absolute;
    top: 50%;
    left: 22px;

    transform: translateY(-50%);

    cursor: grab;
  }

  &__name,
  &__str {
    flex: 0 1 120px;
    color: #000;

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;
  }

  &__str {
    flex: 0 1 704px;
  }

  &__activity {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__edit,
  &__cancel {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgba(224, 224, 224, 1);
    cursor: pointer;
  }

  &__cancel {
  }
}
