.changelog-settings {
  border-radius: 10px;
  margin-top: 23px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  max-width: 597px;
  padding: 22px 45px 33px 45px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item-title {
    color: #9e9e9e;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
  &__info {
    cursor: pointer;
  }
  &__radio,
  &__checkbox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 5px;
    label {
      display: flex;
      align-items: flex-start;
      gap: 18px;
    }
  }
  &__info-title {
    color: #272557;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
  }
  &__info-subtitle {
    color: #9e9e9e;
    font-size: 12px;
    line-height: 13.42px;
    letter-spacing: 0.3px;
    max-width: 418px;
  }
  &__checkbox {
    margin-top: 16px;
  }
}
