.dashboard-tags {
  padding: 10px 40px 90px 36px;
  height: calc(100% - 64px);
  background: var(--lightGray);

  &__form {
    margin-top: 22px;
    padding: 22px 54px 39px 44px;
    width: 597px;

    border-radius: 10px;
    background: var(--dashBoardBg);
    box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  }

  &__form-title {
    color: var(--272557, var(--blueColor));

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px;

    label {
      color: var(--colors-grey-500, var(--grayColor));
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: 0.079px;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &:last-child {
      margin-top: 13px;
    }
  }

  &__form-input {
    padding-left: 21px;
    height: 50px;
    background: var(--sidebarColor);
    border-radius: 5px;
    border: 1px solid var(--colors-grey-300, #e0e0e0);

    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.079px;

    &::placeholder {
      color: var(--colors-grey-500, var(--grayColor));
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: 0.079px;
    }

    &:focus {
      outline: none;
    }
  }

  &__color-wrapper {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 17px;
  }

  &__radio-color {
    span {
      width: 34px;
      height: 34px;
      display: block;
      border-radius: 50%;
      background: var(--color);

      &::after {
        content: "";
        width: 12px;
        height: 7px;
        border-top: 2px solid white;
        border-right: 2px solid white;
        position: absolute;
        top: 33%;
        left: 28%;
        opacity: 0;
        transform: rotate(136deg);
        transition: opacity 0.2s;
      }
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: -1;
      background: var(--inputColor);
      &:checked + span::after {
        opacity: 1;
      }
    }
  }

  &__radio-wrapper {
    margin-top: 10px;
    padding-left: 3px;
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 20px;

    color: var(--blueColor);

    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px; /* 145.714% */
    letter-spacing: 0.06px;
  }

  &__helps {
    margin-top: 8px;
    color: var(--colors-grey-500, var(--grayColor));
    font-size: 12px;
    font-weight: 400;
    line-height: 13.42px; /* 111.833% */
    letter-spacing: 0.3px;
  }

  &__btn {
    margin-top: 34px;

    display: flex;
    justify-content: flex-end;
    gap: 22px;
  }
}
