.pagination {
  padding: 22px 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__number-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding: 0 25px;
  }
  &__left-icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__list-item {
    button {
      border: none;
      background: unset;
      width: 34px;
      height: 34px;
      color: #272557;
      font-size: 17px;
      font-weight: 400;
      line-height: 20.4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.active {
        background: rgb(180 179 221);
        border-radius: 50%;
        padding: 7px;
        color: #fff;
      }
    }
  }
  &__arrow {
    background: unset;
    border: none;
    cursor: pointer;
  }
}
