.posts {
  margin-bottom: 12px;
  &__buttons {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  &__buttons-body {
    display: flex;
    align-items: center;
    gap: 27px;
  }
  &__import {
    color: #272557;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.07px;
    background: unset;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

.posts-form {
  background: #fff;
  padding: 32px 35px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  &__wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--colors-grey-300, #e0e0e0);
  }
  &__search {
    color: #9e9e9e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.079px;
    padding: 15px 30px;
    border: none;
    flex: 1 1 auto;
  }
  &__search-btn {
    border-radius: 5px;
    background: #1565c0;
    padding: 14px 13px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
