.user-item {
  padding: 37px 25px 33px 69px;

  &:nth-child(odd) {
    background-color: var(--secondaryWhite);
  }
  &:nth-child(even) {
    background-color: var(--dashBoardBg);
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 31px;
    flex: 0 1 300px;
    img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__center {
    flex: 0 1 300px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-name {
    color: var(--textColor);
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
  }
  &__email {
    color: #1565c0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.09px;
    margin-bottom: 6px;

    word-break: break-all;
    max-width: 200px;
  }
  &__date {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
  &__main {
    display: flex;
    align-items: center;
    gap: 115px;
    width: 100%;
  }
  &__likes {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  &__like {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      color: var(--textColor);
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20.4px;
      letter-spacing: 0.06px;
    }
  }
  &__role {
    color: var(--blueColor);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
  }
}
