.user-item {
  padding: 38px 69px;
  &:nth-child(odd){
    background-color: #F8F8F8;;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 31px;
    img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-name {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
  }
  &__email {
    color: #1565c0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.09px;
    margin-bottom: 6px;
  }
  &__date {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.079px;
  }
  &__main {
    display: flex;
    align-items: center;
    gap: 115px;
  }
  &__likes {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  &__like {
    display: flex;
    align-items: center;
    gap: 12px;
    span {
      color: #000;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20.4px;
      letter-spacing: 0.06px;
    }
  }
  &__role {
    color: #272557;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.4px;
    letter-spacing: 0.06px;
  }
}
