.link {
  width: var(--width);
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px; /* 150% */
  letter-spacing: 0.07px;
  color: #fff;

  cursor: pointer;
}

.link_primary {
  background: #1565c0;
}
.link_secondary {
  color: var(--cancelButtonColor);
  background: #e0e0e0;
}
.link_warning {
  background: #f44336;
}
