.spinner-wrapper {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(var(--textColor)0 10%, #1565C0);
  -webkit-mask: radial-gradient(farthest-side, var(--textColor)0 calc(100% - 16px), var(--textColor) 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
